@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserHasRight</title>

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/EasyUI/js")

    @Styles.Render("~/EasyUI/css")
</head>
<body>
    <div>
        abc
    </div>
</body>
</html>
