@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function () {
        //btnSubmit的单击事件
        $('#btnSubmit').click(function () {
            var jsonForm = $('#formTest').serializeArray();

            $.ajax({
                type: "post",
                url: "/VCTest/GetLogin",
                data: jsonForm,
                success: function (data) {
                    alert(data);
                }                
            });
        });
    });
</script>

<h2>Index</h2>

<form id="formTest">
    <table>
        <tr>
            <td style="width:20px"></td>
            <td>用户名:</td>
            <td><input type="text" class="easyui-textbox" id="txtName" name="txtName" /></td>
            <td><span id="spanName" style="color:red"></span></td>
        </tr>
        <tr style="height:10px"></tr>

        <tr>
            <td style="width:20px"></td>
            <td>密  码:</td>
            <td><input type="password" class="easyui-textbox" id="txtPwd" name="txtPwd"></td>
            <td><span id="spanPwd" style="color:red"></span></td>
        </tr>
        <tr style="height:10px"></tr>
        <tr>
            <td style="width:20px"></td>
            <td>验证码:</td>
            <td><input type="text" class="easyui-textbox" id="txtVcode" name="txtVcode" /></td>
            <td><span id="spanVcode" style="color:red"></span></td>
        </tr>

        <tr style="height:10px"></tr>

        <tr>
            <td style="width:20px"></td>
            <td><img id="image" src="/User/ValidateCode/?id=1" style="float: left; height: 24px;" /></td>
            <td><a href="javascript:void(0)" id="changeVcode">看不清，换一张</a></td>
        </tr>
    </table>

    <input type="button" id="btnSubmit" value="提交"/>
</form>
